// Цвета
$color-white: #ffffff;
$color-black: #000000;
$color-yellow: #fdc043;
$color-yellow-light: #ffb723;
$color-dark: #383837;
$color-gray: #323232;
$color-light-gray: #eaeaea;
$color-light-gray-text: #a7a7a7;
$color-pagination-gray: #c3c3c3;
$color-accordion-active-bg: #fef3c7;
$color-accordion-active-border: #fbbf24;
$color-page-bg: #efefef;

// Шрифты
$font-family-base: 'Roboto', sans-serif;
$font-family-bebas: 'Bebas Neue', sans-serif;

// Размеры шрифтов (из tailwind конфигурации)
$font-size-huge: 4rem;
$line-height-huge: 1.2;

$font-size-75: 75px;
$line-height-75: 113%;

$font-size-55: 55px;
$line-height-55: 154%;

$font-size-35: 35px;
$line-height-35: 128%;

$font-size-32: 32px;
$line-height-32: 100%;

$font-size-30: 30px;
$line-height-30: 100%;

$font-size-25: 25px;
$line-height-25: 140%;

$font-size-20: 20px;
$line-height-20: 140%;

$font-size-18: 18px;
$line-height-18: 140%;

$font-size-16: 16px;
$line-height-16: 140%;

$font-size-14: 14px;
$line-height-14: 140%;

$font-size-12: 12px;
$line-height-12: 140%;

$point_1: 1200px;
$point_2: 1024px;
$point_3: 1023px;
$point_4: 768px;
$point_5: 640px;
$point_6: 480px;
$point_7: 375px;
$point_8: 320px;

$m-sec: 60px;
